/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.tw-schema-map-list {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

span.description {
    vertical-align: sub;
}

div.tw_prf_div_button {
    padding: 5px;
    border: #000 1px solid;
    border-radius: 3px;
}

